@use "normalize.css";

@use "./three-cubes.scss";
@use "./infinite-staircase.scss";
@use "./three-dimensions-triangle.scss";

$text-color: #eee;

// defaults ==================================================
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: clamp(1rem, 6vw, 1.2rem);
}

html {
    scroll-snap-type: y mandatory;
}

header,
section {
    min-height: 100vh;
    scroll-snap-align: start;

    isolation: isolate;
}

section {
    display: grid;
    place-items: center;
}

.container {
    width: min(900px, 80%);
    margin: 0 auto;
}

// below, the landing page styles ============================
header {
    background-color: mix(white, black, 5%);
    color: $text-color;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

h1,
.scroll-indicator {
    display: inline-block;
    padding: 0.2em 0.6em;
    position: relative;

    filter: drop-shadow(.5rem .5rem 0 rgba(black, 0.5));

    &::before {
        content: "";

        display: block;

        position: absolute;
        inset: 0;

        z-index: -1;

        background-color: mix(dodgerblue, black);
        border: 1px solid white;

        transform: skew(-10deg);
    }
}

h1 {
    font-size: 3em;
    margin-bottom: 0;
}

.scroll-indicator {
    font-size: 1.4em;
    margin-top: 0;

    &::before {
        background-color: mix(dodgerblue, black, 30%);
        // transform: skew(10deg);
    }

}
