@use "./cube" as cube;

@use "sass:math";
@use "sass:map";

$cube-coords: (
    x: min(3.5em, 35vw),
    y: min(4em, 40vw),
    z: min(3.5em, 35vw),
);

section#three-cubes {
    $default-color: limegreen;
    $special-color: yellow;

    background-color: mix($default-color, black, 15%);
    position: relative;

    .three-cubes-box {
        width: 0;
        height: 0;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(calc(-50% - .5em), -50%);

        animation-play-state: running;

        &:hover {
            animation-play-state: paused;
        }

        filter: drop-shadow(0.5em 0.5em 0 rgba(black, 0.5));
    }

    @include cube.cube($cube-coords, $default-color);

    #{cube.selector()} {
        animation-play-state: inherit;

        &:hover {
            filter: brightness(50%);
        }
    }

    #{cube.facesSelector()} {
        animation: cube-color-three 6s infinite step-end;
        animation-delay: inherit; // the delay is set on the whole cube
        animation-play-state: inherit; // the play state is on the whole illusion

        @keyframes cube-color-three {
            0% {
                background-color: $special-color;
            }
            33% {
                background-color: $default-color;
            }
        }
    }

    // POSITIONING OF EACH CUBE ===============================================
    // -> values can easily be found by drawing the illusion

    $h-edge-length: map.get($cube-coords, "x");
    $v-edge-length: map.get($cube-coords, "y");

    .cube-1 {
        right: calc($h-edge-length / 2);
        bottom: calc(math.div($v-edge-length, 4) * 3);

        animation-delay: 0s;

        .face-right {
            clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 50%, 50% 100%, 0 100%);
        }
    }

    .cube-2 {
        left: $h-edge-length;
        top: -0.15em;

        animation-delay: 2s;

        .face-left {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 50% 50%, 0 50%);
        }
    }

    .cube-3 {
        right: calc($h-edge-length / 2);
        top: calc($v-edge-length / 4 * 3 - 0.36em); // bull-eyed adjustment

        animation-delay: 4s;

        .face-top {
            clip-path: polygon(0 0, 50% 0, 50% 50%, 100% 50%, 100% 100%, 0 100%);
        }
    }
}
